.event {
  background: #FFFFFF;
  width: 395px;
  height: 287px;
  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 40px;
  margin: 16px;
}

.title {
  margin-top: 16;
  font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    color: #F59256;
}

.logo {
  width: 158px;
  height: 112px;
}

.contentPosition {
  display: flex;
}


.info {
  font-family: 'Manrope';
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
    list-style: none;
}

.icon{

  font-family: 'Manrope';
  font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
  
    color: #000000;
}

