



.event {
  background: #FFFFFF;
  width: 394.5px;
  height: 287px;
  box-shadow: 7px 4px 14px rgba(49, 21, 4, 0.07);
  border-radius: 40px;
  margin: 16px;
}

.title {
  margin-top: 16;
  font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    text-decoration-line: underline;
    color: #F59256;
}

.logo {
  width: 158px;
  height: 112px;
}

.logoPosition {
  padding-left: 4px;
}

.item {
  margin-top: 12px;
}

.contentPosition {
  display: flex;
}


.info {
  font-family: 'Manrope';
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
    list-style: none;
    padding-left: 36px;
    margin: 0;
    
}

.infoLink{
  font-family: 'Manrope';
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
text-decoration: none;
}

.icon{

  font-family: 'Manrope';
  font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
  
    color: #000000;
}

.button {
  outline: 0 !important;
  border: 0;
  background:none;
  font-family: 'Manrope';
  font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.33;
padding: 0;
}

.button:hover {
  color: #F59256;
}
